<!DOCTYPE html>
<html lang="pt_br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sucesso!</title>

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/page-success">

  <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">

</head>

<body id="page-success">
  <div id="container">
    <div class="success-container"></div>
      <h1>Cadastro salvo!</h1>
      <img src="/public/images/success-background.svg" alt="Sucesso">
    </div>
  </div>
</body>
</html>